html, body {
  height: 100%;
  margin: 0;
}

body{  
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 0px dotted rgb(96 139 168);
  display: flex;

  margin: 0px;  

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  gap: 1px;  

  width: 960px;
  height: 960px;
}

/*
.container > * {
  border: 0px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);

  width: 58px;
  height: 58px;
}
*/

/* Calcular (960/6)-2 para ter o tamanho cert de cada 1 das 6 divs */

.container > * {
  border: 0px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);

  width: 158px;
  height: 158px;
}