.container {
  border: 2px dotted rgb(96 139 168);
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;  

  width: 100%;
}

.container > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);

  width: 110px;
  height: 110px;
}